doctype html
html
  head
    title Ticker Watch!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
  body
    block content


    // scripts
    script(src='/lodash/dist/lodash.min.js')
    script(src='/moment/min/moment.min.js')
    script(src='/Chart.js/dist/Chart.js')
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')

    // Main scripts
    script(src='/javascripts/main.js')