doctype html
html
  head
    title Currently Registered Services
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap/dist/css/bootstrap.min.css')
  body
    block content


    // scripts
    script(src='/bootstrap/dist/js/bootstrap.min.js')