doctype html
html
  head
    title Ticker Stream

    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content


  script(src='/lodash/dist/lodash.min.js')
  script(src='/jquery/dist/jquery.min.js')
  script(src='/bootstrap/dist/js/bootstrap.min.js')
  script(src="/javascripts/main.js")
