extends layout

block content
  h1 Stock Streamer!

  .form-inline
    .form-group
        label(for='#ticker-box') Ticker&nbsp;
        input#ticker-box.form-control(type='text', placeholder='AAPL')

    &nbsp;
    button#add-ticker.btn.btn-default Add!

  ul#stock-list


  table#data-table.table.table-striped
    thead 
        tr
            th
            th Ticker
            th Date
            th Time
            th Price
            th Count

    tbody



