doctype html
html
  head
    title= title

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content


  script(src="https://code.jquery.com/jquery-2.2.3.min.js",
      integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=",
      crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js")
  script(src="/javascripts/main.js")
