extends layout

block content
  h1 Currently Registered Services!

  .container-fluid
    .row
      .col-md-12
        table.table.table-striped
          tr
            th
            th ID
            th URL

          each v in list
            tr
              td #{v.idx}
              td #{v.name}
              td
                a(href='#{v.url}', target='#') #{v.url}



